      <footer class="page-footer deep-orange accent-2">
          <div class="container">
            <div class="row">
              <div class="col l6 s12 ">
                <h5 class="white-text">Bloggr</h5>
                <p class="grey-text text-lighten-4">Every audience needs entertainment. Create a post now!</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="/posts">Public</a></li>
                  <li><a class="grey-text text-lighten-3" href="/about">About</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2019 Bloggr
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>