body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  .nav-wrapper .fa-bars{
    font-size: 2em;
  }

  footer {
    margin-top: 20px;
  }

  .story-text {
    height: 120px;
  }

  .dash-status {
    text-transform: capitalize;
  }

  #delete-form {
    display: inline;
  }

  .profile-pic {
    height: 100px;
    width: 100px;
  }
  .login-buttons a {
    width: 275px;
  }

  .same-size {
    height: 300px;
  }

 
